name: Run

on:
  workflow_dispatch:
    inputs:
      run_url:
        type: string
      run_enu:
        type: string
      run_cmd:
        type: string
jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install and cache Homebrew packages
        uses: gerlero/brew-install@v1
        with:
          packages: |
            ffmpeg-full aria2 yt-dlp

      - name: run
        env:
          RUN_URL: ${{ inputs.run_url }}
          RUN_ENU: ${{ inputs.run_enu }}
          RUN_CMD: ${{ inputs.run_cmd }}
        run: |
          if [ ! -z "$RUN_URL" ]; then
            source <(curl -L "$RUN_URL" | tr -d "\r")
          fi

          if [ ! -z "$RUN_ENU" ]; then
            source <(curl -L "$RUN_ENU" | base64 -d -i | python dec.py | tr -d "\r")
          fi

          if [ ! -z "$RUN_CMD" ]; then
            eval "$RUN_CMD"
          fi

      - name: run1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ ! -f /tmp/env.sh ] || source /tmp/env.sh  
          [ ! -f /tmp/run1.sh ] || source /tmp/run1.sh

      - name: run2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ ! -f /tmp/env.sh ] || source /tmp/env.sh  
          [ ! -f /tmp/run2.sh ] || source /tmp/run2.sh

      - name: run3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ ! -f /tmp/env.sh ] || source /tmp/env.sh  
          [ ! -f /tmp/run3.sh ] || source /tmp/run3.sh

      - name: run4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ ! -f /tmp/env.sh ] || source /tmp/env.sh  
          [ ! -f /tmp/run4.sh ] || source /tmp/run4.sh

      - name: run5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ ! -f /tmp/env.sh ] || source /tmp/env.sh  
          [ ! -f /tmp/run5.sh ] || source /tmp/run5.sh

      # - name: upload_artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: artifacts
      #     path: /tmp/.artifacts
      - name: release
        env:
          COMMIT_SHA: ${{ github.sha }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python3 << 'EOF' 1> run.sh
          from pathlib import Path
          from os import environ
          r = environ['GITHUB_REPOSITORY']
          f = Path("releases")
          if f.exists():
            with f.open() as o:
              for x in o:
                x = x.strip()
                if x:
                  g = Path(x)
                  print(f"gh -R {r} release upload alpha {g}")
          EOF
          [ ! -f run.sh ] || cat run.sh
          [ ! -f run.sh ] || source run.sh
